<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom w-100 mb-4">
  <div class="container-fluid px-3">
    <a class="navbar-brand fw-bold text-primary"
       routerLink="/"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">
       <i class="bi bi-shop me-1"></i>E-Commerce
    </a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="d-flex ms-auto gap-1 align-items-center">
        @if(userName){
          <a class="text-decoration-none text-dark  py-1 rounded"
           routerLink="users/me"
           routerLinkActive="active">{{userName}}</a>

          <button class="text-decoration-none text-primary py-1 rounded btn" (click)="logout()"> Logout </button>

          @if(isAdmin) {
            <a class="btn btn-outline-primary btn-sm px-2 py-1"
              routerLink="/users"
              routerLinkActive="active">
              <i class="bi bi-speedometer2 me-1"></i> users
            </a>
          }
        }
        @else {
          <a class="text-decoration-none text-primary px-2 py-1 rounded"
            routerLink="register"
            routerLinkActive="active">Register</a>
          <a class="text-decoration-none text-primary px-2 py-1 rounded"
            routerLink="login"
            routerLinkActive="active">Login</a>
        }

        <a class="btn btn-primary btn-sm position-relative ms-2"
           routerLink="product"
           routerLinkActive="active">
          <i class="bi bi-plus-square text-white"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
