<div class="container py-5">

  @if(message){
    <div class="alert alert-danger alert-dismissible fade show fixed-top mt-5 mx-auto rounded-lg shadow-lg text-center" style="width: 25%; max-width: 1200px; min-width: 250px;" role="alert">
      {{message}}
      <button type="button" class="btn-close" (click)="cancelDeletion()" aria-label="Close"></button>
    </div>
  }

  <div class="row justify-content-center">
    <div class="col-lg-8 col-xl-7">

      <div class="card shadow-lg position-relative border-0 overflow-hidden">

        <button class="btn btn-outline-secondary btn-sm position-absolute start-0 top-0 m-3 z-3 rounded-circle"
                routerLink="/"
                style="width: 40px; height: 40px;">
          <i class="bi bi-arrow-left"></i>
        </button>

        <div class="position-relative">
          <img [src]="product.imageUrl" class="card-img-top img-fluid object-fit-cover" style="height: 400px;">
        </div>

        <div class="card-body p-4 pt-4 pb-5">

          <div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-3">
            <h2 class="card-title h3 mb-0 fw-bold">{{ product.name }}</h2>
            <h3 class="text-primary h3 mb-0">{{ product.price | currency }}</h3>
          </div>

          <div class="d-flex justify-content-between mb-4">
            <div>
              <span class="badge bg-info text-dark fs-6">{{ product.category || 'N/A' }}</span>
            </div>
          </div>

          <div class="mb-4">
            <h4 class="h5 fw-bold mb-3 text-secondary">Description</h4>
            <p class="card-text fs-5 text-muted">{{ product.description }}</p>
          </div>

          <div class="d-flex justify-content-center pt-3">

            <button class="btn btn-primary px-4 py-2 rounded-pill mx-5"
                    (click)="callOwner(product)">
              <i class="bi bi-telephone mx-2"></i> Contact Owner
            </button>
            @if(canDelete()){
              <button class="btn btn-outline-danger px-4 py-2 rounded-pill mx-5"
                      (click)="deleteProduct(product._id)">
                <i class="bi bi-trash3 mx-2"></i> Delete Item
              </button>
            }

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
