<div class="container mt-4">

  @if(message){
    <div class="alert alert-danger alert-dismissible fade show fixed-top mt-5 mx-auto rounded-lg shadow-lg text-center" style="width: 25%; max-width: 1200px; min-width: 250px;" role="alert">
      {{message}}
      <button type="button" class="btn-close" (click)="cancelDeletion()" aria-label="Close"></button>
    </div>
  }

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4" [class.mt-5]="message">

    @for(product of products; track product._id) {
      <div class="col">
        <app-product
          [product]="product"
          [canDelete]="canDelete(product)"
          (callOwner)="callOwner($event)"
          (deleteProduct)="deleteProduct($event)">
        </app-product>
      </div>
    }

  </div>

</div>
