<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4" style="width: 100%; max-width: 400px;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Login</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            formControlName="email"
          >
          @if (formControls['email'].invalid && (formControls['email'].touched)) {
            <div class="form-text text-danger">
              @if(formControls['email'].errors){
                @if(formControls['email'].errors['required']){
                  <span>This field is required</span>
                }
                @else if(formControls['email'].errors['email']){
                  <span>Please enter valid mail</span>
                }
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          >
          @if (formControls['name'].invalid && (formControls['name'].touched)) {
            <div class="form-text text-danger">
              @if(formControls['name'].errors){
                @if(formControls['name'].errors['required']){
                  <span>This field is required</span>
                }
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            formControlName="username"
          >
          @if (formControls['username'].invalid && (formControls['username'].touched)) {
            <div class="form-text text-danger">
              @if(formControls['username'].errors){
                @if(formControls['username'].errors['required']){
                  <span>This field is required</span>
                }
                @else if(formControls['username'].errors['pattern']){
                  <span>white spaces is not allowed here</span>
                }
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="text"
            class="form-control"
            id="password"
            formControlName="password"
          >
          @if (formControls['password'].invalid && (formControls['password'].touched)) {
            <div class="form-text text-danger">
              @if(formControls['password'].errors){
                @if(formControls['password'].errors['required']){
                  <span>This field is required</span>
                }
                @else if(formControls['password'].errors['pattern']){
                  <span>
                    Password must:
                      <ul>
                        <li>Be at least 8 characters long</li>
                        <li>Contain at least one lowercase letter</li>
                        <li>Contain at least one uppercase letter</li>
                        <li>Contain at least one digit</li>
                        <li>Contain at least one special character{{ "'@$%#'" }}</li>
                      </ul>
                  </span>
                }
              }
            </div>
          }
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-3">Register</button>

        <div class="text-center">
          Already have acount? <a routerLink='/login' routerLinkActive="router-link-active"  class="text-decoration-none">Login</a>
        </div>

      </form>
    </div>
  </div>
</div>
